<div class="jobs">
  <div class="row">
    <div class="content-container col-12">
      <h1>Job Listings</h1>
      <div class="row">
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title display-4">Software Engineer</h5>
              <div class="card-text">
                <div class="row">
                  <div class="col text-muted">
                    10 available positions
                  </div>
                </div>
                <div class="row mt-10">
                  <div class="col-12 text-muted font-weight-bold">
                    Number of Applicants
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 pull-right">
                    10
                  </div>
                </div>
                <div class="row mt-10">
                  <div class="col-12 text-muted font-weight-bold">
                    Selected Candidates
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 pull-right">
                    3
                  </div>
                </div>
              </div>
              <a [routerLink]="['/recruiter-list']" class="btn btn-primary float-right">VIEW APPLICANTS</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title display-4">UI/UX Designer</h5>
              <div class="card-text">
                  <div class="row">
                    <div class="col text-muted">
                      10 available positions
                    </div>
                  </div>
                  <div class="row mt-10">
                    <div class="col-12 text-muted font-weight-bold">
                      Number of Applicants
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 pull-right">
                      10
                    </div>
                  </div>
                  <div class="row mt-10">
                    <div class="col-12 text-muted font-weight-bold">
                      Selected Candidates
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 pull-right">
                      3
                    </div>
                  </div>
                </div>
              <a href="#" class="btn btn-primary float-right">VIEW APPLICANTS</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title display-4">Technical Lead</h5>
              <div class="card-text">
                  <div class="row">
                    <div class="col text-muted">
                      10 available positions
                    </div>
                  </div>
                  <div class="row mt-10">
                    <div class="col-12 text-muted font-weight-bold">
                      Number of Applicants
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 pull-right">
                      10
                    </div>
                  </div>
                  <div class="row mt-10">
                    <div class="col-12 text-muted font-weight-bold">
                      Selected Candidates
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 pull-right">
                      3
                    </div>
                  </div>
                </div>
              <a href="#" class="btn btn-primary float-right">VIEW APPLICANTS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>