<div class="jobs">
  <div class="row">
    <div class="content-container col-12">
      <h1>Job Listings</h1>
      <div class="row">
          <div *ngFor="let job of jobs" class="col-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title display-4">{{job.Designation}}</h5>
                  <div class="card-text">
                    <div class="row">
                      <div class="col text-muted">
                        {{job.Experience.min}} - {{job.Experience.max}} years
                      </div>
                    </div>
                    <div class="row mt-10">
                      <div class="col-12 text-muted font-weight-bold">
                        Need To Know
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 pull-right">
                        {{job.Skills.toString()}}
                      </div>
                    </div>
                    <div class="row mt-10">
                      <div class="col-12 text-muted font-weight-bold">
                        Good To Have
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 pull-right">
                        {{job.AdditionalSkills.toString()}}
                      </div>
                    </div>
                  </div>
                  <a [routerLink]="['/recruiter-list', job._id]" class="btn btn-primary float-right">VIEW APPLICANTS</a>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>