@import '../../../styles.scss';

.header {
    background: #000;
    height: 10vh;
    margin: 0 150px;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    box-orient: horizontal;
    box-direction: normal;
    box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    h5 {
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        margin-right: auto;
        color: #fff;
    }
    nav {
        margin-right: 1rem;
        a {
            font-size: 1rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            text-decoration: none;
            padding: .5rem;
            color: #fff;
            &:hover {
                color: #FFF; 
                border-bottom: 1px solid #23cf5f;
            }
        } 
    }
}