<div class="landing">
  <div class="row">
    <div class="content-container col-5">
      <h5>Let's</h5>
      <h5 class="emphasis">Build</h5>
      <h5 class="emphasis">Great Products</h5>
      <h5>Together.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col openings">
      <a href="#openings">
        View Current Openings
        <i class="material-icons">arrow_downward</i>
      </a>
    </div>
  </div>
</div>
<div id="openings" class="jobs">
  <div class="row">
    <div class="content-container col-12">
      <h1>Current Openings</h1>
      <div class="row">
        <div *ngFor="let job of jobs" class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title display-4">{{job.Designation}}</h5>
              <div class="card-text">
                <div class="row">
                  <div class="col text-muted">
                    {{job.Experience.min}} - {{job.Experience.max}} years
                  </div>
                </div>
                <div class="row mt-10">
                  <div class="col-12 text-muted font-weight-bold">
                    Need To Know
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 pull-right">
                    {{job.Skills.toString()}}
                  </div>
                </div>
                <div class="row mt-10">
                  <div class="col-12 text-muted font-weight-bold">
                    Good To Have
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 pull-right">
                    {{job.AdditionalSkills.toString()}}
                  </div>
                </div>
              </div>
              <a (click)="openModal(template, job._id)" class="btn btn-primary float-right">APPLY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form for application -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left display-4">Software Engineer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <form [formGroup]="application">
          <carousel [interval]="0">
            <slide>
              <div class="form-group">
                <div class="custom-file">
                  <input (change)="onFileChange($event)" type="file" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{fileName}}</label>
                </div>
              </div>
              <div class="form-group">
                <label>Years of Experience</label>
                <input type="text" (keypress)="onlyDecimalNumberKey($event)" maxlength="4" class="form-control" formControlName="Experience">
              </div>
            </slide>
            <slide>
              <div class="form-group">
                <label>Current Company</label>
                <input type="text" class="form-control" placeholder="XYZ Systems Inc." formControlName="CurrentCompany">
              </div>
              <div class="form-group">
                <label>Designation</label>
                <input type="text" class="form-control" placeholder="sam.daniel@mail.com" formControlName="Designation">
              </div>
              <div class="form-group">
                <label>Current CTC</label>
                <input type="text" class="form-control" formControlName="TotalPackage">
              </div>
              <div class="form-group">
                <label>Expected CTC</label>
                <input type="text" class="form-control" formControlName="ExpectedPackage">
              </div>
            </slide>
            <slide>
              <div class="form-group">
                <label>Education</label>
                <input type="text" class="form-control" placeholder="IIT Mumbai" formControlName="Education">
              </div>
              <div class="form-group">
                <mat-checkbox formControlName="Relocation">Are you willing to relocate to Bengaluru?</mat-checkbox>
              </div>
              <div class="form-group">
                <mat-checkbox formControlName="NoticePeriod">Are you currently serving your notice period?</mat-checkbox>
              </div>
              <div class="form-group">
                <label>Duration of Notice Period</label>
                <input type="text" class="form-control" formControlName="JoiningTime">
              </div>
            </slide>
          </carousel>
          <button (click)="submit(application.value)" class="btn btn-primary float-right">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>